<%- include("header") %>
<header>
    <nav>
      <ul class="nav_links">
         <li>
          <a href="index">
            <img
              src="assets/images/Logo.png"
              alt="logo"
              width="175px"
              height="175px"
            />
          </a>
        </li>
        <li><a href="mijnpokemon">Mijn Pokemon</a></li>
        <li><a href="pokemonvergelijken">Vergelijken</a></li>
        <li><a href="pokemonbattler">Battler</a></li>
       
        <li><a href="pokemoncatcher">Catcher</a></li>
        <li><a href="whosthatpokemon">Who's that pokemon</a></li>
        <li><a href="login">Login</a></li>
        <li class="pokeball">
          <img src="/assets/images/pokeball.png" alt="" width="50px" />
          <div class="pokemon-info">
            <span id="currentPokemonName">
              <% if (username) { %>
                <%= username %>
              <% } else { %>
                Vang pokemon
              <% } %>
            </span>
            <br />
            <% if (username) { %>
              <span class="<%= currentPokemonType %>">( <%= currentPokemonType %> )</span>
              <br />
              <p class="current-pokemon-level">LVL<%= currentPokemonLevel %></p>
            <% } %>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="projecten">
      <article class="projecten-item">
        <a href="mijnpokemon">
          <div class="image-container">
            <img src="assets/images/Mijn pokemon.jpg" alt="Mijn Pokemon" />
            <div class="pokemon-overlay">
              <p>mijn pokemon</p>
            </div>
          </div>
        </a>
      </article>
      <article class="projecten-item">
        <a href="pokemonvergelijken">
          <div class="image-container">
            <img
              src="assets/images/Pokemon Vergelijken.jpg"
              alt="Pokemon Vergelijken"
            />
            <div class="pokemon-overlay">
              <p>pokemon vergelijken</p>
            </div>
          </div>
        </a>
      </article>

      <article class="projecten-item">
        <a href="pokemonbattler">
          <div class="image-container">
            <img
              src="assets/images/Pokemon battler.jpg"
              alt="Pokemon Battler"
            />
            <div class="pokemon-overlay">
              <p>pokemon battler</p>
            </div>
          </div>
        </a>
      </article>

      <article class="projecten-item">
        <a href="pokemoncatcher">
          <div class="image-container">
            <img
              src="assets/images/Pokemon catcher.jpg"
              alt="Pokemon Catcher"
            />

            <div class="pokemon-overlay">
              <p>pokemon catcher</p>
            </div>
          </div>
        </a>
      </article>

      <article class="projecten-item">
        <a href="whosthatpokemon">
          <div class="image-container">
            <img
              src="assets/images/Whos that pokemon.jpg"
              alt="Who's that pokemon"
            />
            <div class="pokemon-overlay">
              <p>Who's that pokemon</p>
            </div>
          </div>
        </a>
      </article>
      <article class="projecten-item">
        <a href="landingPage">
          <div class="image-container">
            <img src="assets/images/hub.jpg" alt="Hub" />
            <div class="pokemon-overlay">
              <p>terug naar hub</p>
            </div>
          </div>
        </a>
      </article>
    </section>
  </main>
<%- include("footer") %>