<%- include("./partials/header") %>
<main>
  <article>
    <h1><%= pokemon.name %> (#<%= pokemon.id %>)</h1>
    <img src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
    <p>Height: <%= pokemon.height %> decimetres</p>
    <p>Weight: <%= pokemon.weight %> hectograms</p>
    <h2>Abilities</h2>
    <ul>
      <% pokemon.abilities.forEach(function(ability) { %>
        <li><%= ability.ability.name %></li>
      <% }); %>
    </ul>
  </article>
</main>
<%- include("./partials/footer") %>
